<h1 style="color: white;">I am the card</h1>

<!-- <div  class="books-grid">
    <div *ngFor="let book of books; let i = index; let even = even" class="card">
        <img src="{{book.photo}}" alt="{{book.title}}">
            <div class="card-info">
                <h3>{{book.title}}</h3>
                <div class="card-details">
                    <p>Author: {{book.author}}</p>
                    <p>Type: {{book.type}}</p>
                    <p>{{book.id_book | refPipe}}</p>
                </div>
                    

            </div>
            <button class="button" [ngClass]="even == true ? 'button even-button': 'button'">Buy for {{book.price}}€</button> 
    </div>        
</div> -->