<div class="card">
    <button type="button" class="close-button" (click)="isSeen()">X</button>
    <img src="{{ book.photo }}" alt="{{ book.title }}" />
    <div class="card-info">
        <h3>{{ book.title }}</h3>
        <div class="card-details">
            <p>Author: {{ book.author }}</p>
            <p>Type: {{ book.type }}</p>
            <p>{{ book.id_book | refPipe }}</p>
        </div>
    </div>
    <button class="button" [ngClass]="even == true ? 'button even-button' : 'button'">Buy for {{ book.price }}€</button>
</div>
