
    <form action="">
        <input type="text" name="name" id="name" placeholder="First Name">
        <input type="text" name="lastName" id="lastName" placeholder="Last name">
        <input type="email" name="email" id="email" placeholder="Email">
        <input type="text" name="url" id="url" placeholder="url">
        <input type="password" name="password" id="password" placeholder="Password">
        <input type="password" name="password2" id="password2" placeholder="Please repeat your Password">
        <button>Register</button>
    </form>

