/* 
form {
    height: 28rem;
    width: 80vw;
    background-color: var(--main-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 62px;
}

form input {
    width: 80%;
    background: none;
    border: none;
    border-bottom: 2px solid #f3eced;
    color: #f3eced;
}

form button {
    width: 6rem;
    height: 2.6rem;
    background-color: var(--main-contrast);
    border: none;
    border-radius: 4rem;
    color: #f3eced;
} */

.btn-login {
    background-color: var(--main-contrast);
    color: var(--main-dark);
    font-family: var(--ff-main);
    padding: 0.4rem;
    border-radius: 0.8rem;
    border: none;
}