<div class="page">
  <div class="card">
    <img class="pfp-img" src="{{user.photo}}" alt="" />
    <h2>{{user.f_name + ' ' + user.l_name}}</h2>
    <div class="line"></div>
    <ul>
      <li>Name: {{user.f_name}}</li>
      <li>Lastname: {{user.l_name}}</li>
      <li>Email: {{user.email}}</li>
    </ul>
  </div>
  <div class="card">
    <h2>Edit your profile</h2>
    <div class="line"></div>
    <form action="">
      <input type="text" name="name" id="name" placeholder="Name" #input1 />
      <input type="text" name="Lastname" id="lastname" placeholder="Lastname" #input2 />
      <input type="email" name="email" id="email" placeholder="Email" #input3 />
      <input type="text" name="photo" id="photo" placeholder="Photo Url" #input4 />
      <button type="button">Modify</button>
    </form>
  </div>
</div>
